body{
    background-color: rgb(1, 31, 57);
}


.top-movie{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
    border: 2px solid red;
}
.container{
    justify-items: center;
    width: 200px;
    color: aliceblue;
    border: 1.5px solid rgb(202, 22, 22);
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
    word-wrap: break-word;  
    background-color: rgb(4, 54, 16);

}

.container img{
    width: 180px;
    border-radius: 5px;
}
.container p{
    margin: 8px;
}

.title{
    font-weight: 800;
    font-size: 20px;
    padding: 15px 0px;
}